<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="D:/OneDrive/Documents/Cours UQAC/Semestre 2/Patron&amp;Modèles/TP2/TP2_Patrons_-_Mod-les/Question_1"/>
</launchConfiguration>
